<h1><%= t(".user_mailer.account_activation.hi") %><%= @user.name %></h1>
<%= link_to t(".user_mailer.account_activation.active"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
