.form_login {
  width: 900px;
  padding-left: 400px;
}

.form_login h4 {
  font-weight: bold;
}

.content {
  padding-top: 120px;
  width: 1640px;
  padding-left: 280px;
}

.child_cat {
  padding-left: 15px;
  padding-top: 5px;
}

.add_category {
  font-size: 20px;
}

.pagination {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

.pagination a {
  color: rgb(122, 122, 218);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.resize_image img {
  width: 230px;
  height: 150px;
}

.resize_picture_home {
  img {
    width: 250px;
    height: 210px;
  }
}
input[type=number] {
  position: relative;
  padding: 7px;
  width: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.resize_image_user img {
  width: 130px;
  height: 150px;
}

.picture_profile img{
  width: 200px;
  height: 230px;
}

.total_price_order {
  color: red;
}
